body {
    font-family: 'PT Sans', sans-serif;
    font-display: swap;
    font-size: 1em;
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
}

code {
    font-family: 'PT Mono', monospace;
    font-display: swap;
    font-size: 0.8em;
}

.hidden {
    display: none;
}

.red {
    color: red;
}

div.info {
    background: rgb(47, 130, 255);
    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px 20px;
    color: #EEEEEE;
    margin: 10px 0px
}

div.info.warn {
    background: rgb(252, 255, 47);
    border-color: yellow;
    color: black;
}

div.info.error {
    background: rgb(255, 47, 47);
    border-color: red;
}

div#weather p#current {
    text-align: center;
    font-size: 1.2em;
}

div#weather p#legend {
    text-align: center;
}

div#weather div.days {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: -5px;
    margin-bottom: 25px;
}

div#weather div.days div.day {
    background: linear-gradient(rgb(250, 253, 155), rgb(254, 255, 231));
    border: 1px solid yellow;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 5px;
    text-align: center;
    width: 100%;
    max-width: 175px;
    color: #121212 !important;
}

div#weather div.days div.day p.date {
    margin-bottom: 0px;
}

div#weather div.days div.day p.date span.day-of-month {
    font-size: 1.4em;
}

div#weather div.days div.day p.day-of-week {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.75em;
    margin-top: 0px;
}

div#weather div.days div.day p.forecast-and-temp {
    font-size: 2.5em;
    margin: 25px 0px 25px 0px;
}

div#weather div.week {
    margin: 25px 0px 25px 0px;
}

div#weather div.week p {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #EEEEEE;
    }
}
