body {
    font-family: 'PT Sans', sans-serif;
    font-display: swap;
    font-size: 1em;
}

h1 {
    text-align: center;
}

code {
    font-family: 'PT Mono', monospace;
    font-display: swap;
    font-size: 0.8em;
}

.hidden {
    display: none;
}

div.info {
    background: rgb(47, 130, 255);
    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px 20px;
    color: white;
    margin: 10px 0px
}

div.info.warn {
    background: rgb(252, 255, 47);
    border-color: yellow;
    color: black;
}

div.info.error {
    background: rgb(255, 47, 47);
    border-color: red;
}

div#weather div.days {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: -5px;
    margin-bottom: 25px;
}

div#weather div.days div.day {
    background: linear-gradient(rgb(250, 253, 155), rgb(254, 255, 231));
    border: 1px solid yellow;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 5px;
    text-align: center;
    width: 100%;
    max-width: 140px;
}

div#weather div.days div.day p.date {
    margin-bottom: 0px;
}

div#weather div.days div.day p.date span.day-of-month {
    font-size: 20px;
}

div#weather div.days div.day p.day-of-week {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 0px;
}

div#weather div.days div.day p.forecast-and-temp {
    font-size: 40px;
    margin: 25px 0px 25px 0px;
}
